<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/publications/">Publications</a>
      <a href="/PhD_Thesis/">PhD thesis</a>      
    </div>

  
  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}


    
  </body>


  
</html>
