---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <h1 class="page-heading">Commenting on posts</h1>
  <p>
  I used to have a commenting system that allowed you to comment on a post, but I removed that. This website is static html, which makes commenting systems a bit of a pain to set up. If you want to comment on a post, please drop me a message at [wahsp at tutanota dot com]. Make sure that you clarify which post you are responding to. I might ask for permission to include your comment in the post.  
 </p>
	
</article>


